{% extends './layouts/app.html.twig' %}

{% block title %}Actions{% endblock %}

{% block body %}

{#    <form action="/actions/new" method="post">#}
{#        {% include './partials/_new-action.html.twig' %}#}
{#    </form>#}
    {% include './partials/_list-action.html.twig' %}

{% endblock %}