{% extends './partials/_forms/card-form.html.twig' %}

{% block form %}
    <form action="/actions/new" method="POST" enctype="multipart/form-data">

        <div class="row class-content">
            <div class="col s12">
                <div class="col s12 card-title">
                    <div class="card-title__text">
                        <h1>New Task</h1>
                    </div>
                </div>
            </div>

            {% if errors is not empty %}
                <job-log-form v-bind:errors="{{ errors|json_encode() }}"></job-log-form>
            {% else %}
                <job-log-form></job-log-form>
            {% endif %}
        </div>

        <div class="card-action">
            <button type="submit" name="submit">Send</button>
            <button type="reset">Erase</button>
        </div>
    </form>
{% endblock %}
