
<div class="row card-form">
    <div class="col s12 m8 offset-m2 offset-l3 l6 offset-xl3 xl6">
        <div class="card">

                {% block form %}{% endblock %}

        </div>
    </div>
</div>